
body {
    background-color: cyan;
    font-family: 'Courier New', Courier, monospace;
    color: purple;
}

.bar-logo{
    background: url(../static/logo.webp) no-repeat center center;
    background-size: 100%;
    width: 75px;
    height: 75px;
}

.my-photo {
    background: url(../static/cat1.jpeg) no-repeat center center;
    background-size: 70%;
    width: 440px;
    height: 300px;
}

.bar-text {
    font-size: 30px;
    font-weight: bold;
    color: red;
    display: flex;
    align-items: center;
    justify-content: right;
}

.container {
    margin: auto;
    padding: 30px;
}

.title-photo {
    text-align: center;
    font-size: 25px;
}

#myButton {
    border: none;
    width: 300px;
    height: 80px;
    border-radius: 44px;
    font-size: 20px;
    background-color: blueviolet;
    color: cyan;
    font-weight: bold;
}

.button-js {
    text-align: center;
}

.img1 {
    width: 300px;
    height: 300px;
    margin-top: 20px;
}

.btn_post {
    border: none;
    width: 300px;
    height: 80px;
    border-radius: 44px;
    font-size: 20px;
    background-color: blueviolet;
    color: cyan;
    font-weight: bold;
}

.form-width {
    width: 100%;
}

.form-align {
    text-align: center;
}

.form_reg {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40%;
}
